body,
html {
  height: 100%
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  background-color: #6441A4;
  color: #fafbfc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialised;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: yellow;
}

h2 {
  color: #fff;
  font-family: "Open Sans";
}

.loader {
  background: none repeat scroll 0 0 #6441A4;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader_inner {
  background-image: url(preloader.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #6441A4;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.fa-twitch {
  font-size: 25px;
}

.wrapper{
  height: 100%;
}

.main{
  min-height: 100%;
}

.button {
  text-transform: uppercase;
  background-color: blue;
  padding: 5px 12px;
  color: #fff;
  font-size: 14px;
  outline: 0;
  border: none;
  text-align: center;
  position: relative;
  transition: all .5s ease;
}

.button-online {
  background-color: green;
}

.button-offline {
  background-color: red;
}

.button-wrap {
  margin: 30px auto;
}

#channels {
  text-align: center;
}

.wrap {
  width: 200px;
  height: 250px;
  align-content: center;
  margin: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.wrap p {
  color: #000;
}

.logo {
  display: block;
  height: 80px;
  margin: 0 auto;
  top: 0;
  width: 80px;
}

a,
a:hover,
a:link,
a:visited {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.statOn {
  color: green;
}

.statOff {
  color: red;
}

footer,
footer a {
  color: #fff;
  text-decoration: none;
  margin-top: 50px;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}