body,
html {
  height: 100%
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  background-color: #476481;
  -webkit-font-smoothing: antialised;
}

.game-wrap {
  width: 360px;
  height: 400px;
  margin: 50px auto;
}

.game-button {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  margin: 1px 3px;
  cursor: pointer;
  display: inline-block;
}

#red {
  background-color: #B5000F;
}

#green {
  background-color: #22AAA1;
}

#blue {
  background-color: #007FFF;
}

#yellow {
  background-color: #DBFE87;
}

#red.hl,
#green.hl,
#blue.hl,
#yellow.hl {
  opacity: 0.3;
}

.button-wrap {
  margin-top: 15px;
  white-space: nowrap;
  display: inline-block;
}

.button {
  background-color: #1669b3;
  padding: 5px 12px;
  color: #fff;
  font-size: 14px;
  outline: 0;
  border: none;
  text-align: center;
  position: relative;
  float: left;
  border-radius: 4px;
}

.button-danger {
  background-color: red;
}

.button-success {
  background-color: green;
}

.button-warning {
  background-color: orange;
}

.btn-primary-outline {
  background-color: transparent;
  color: white;
  margin-top: 70px;
}

#reset {
  margin-top: 30px;
}

h2 {
  color: #fff;
}

footer {
  color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 480px) {

  .game-wrap {
    width: 290px;
    margin: 0 auto;
    height: 300px;
  }

}